@import 'reset.css';
@import 'site.css';
@import 'keyframes.css';

div#navAndSlideSpacer {
    height: 46px;
}

div#slideShow img {
    width: 90vw;
    height: 90vh;
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
}

#leftArrowSS,
#rightArrowSS {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#rightArrowSS {
    right: 5%;
    border-radius: 3px 0 0 3px;
}

#leftArrowSS:hover,
#rightArrowSS:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

h1#slideShowBanner {
    font-size: 8em;
    color: #fafafa;
    position: absolute;
    top: 25%;
    left: 12.5%;
}

h2 {
    font-size: 4em;
    width: 100%;

    background-color: #f59232;
    color: #fafafa;
    text-indent: 1em;
}

section#about {
    overflow: auto;
}

div.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #f59232;
    color: #fafafa;
    text-align: center;
    order: 99;
}