/*
 
   ___ _   _ ____  _______  __   ____ ____ ____   
  |_ _| \ | |  _ \| ____\ \/ /  / ___/ ___/ ___|  
   | ||  \| | | | |  _|  \  /  | |   \___ \___ \  
   | || |\  | |_| | |___ /  \  | |___ ___) |__) | 
  |___|_| \_|____/|_____/_/\_\  \____|____/____/  
                                                  
 
*/
@import 'reset.css';
@import 'site.css';
@import 'keyframes.css';

section p {
    font-size: 2em;
    padding: 5px;
}

div#slideShow img {
    width: 90vw;
    height: 90vh;
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
}

#leftArrowSS,
#rightArrowSS {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#rightArrowSS {
    right: 5%;
    border-radius: 3px 0 0 3px;
}

#leftArrowSS:hover,
#rightArrowSS:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

h1#slideShowBanner {
    font-size: 8em;
    color: #fafafa;
    position: absolute;
    top: 25%;
    left: 12.5%;
}

section h2 {
    font-size: 4em;
    width: 90vw;

    background-color: #f59232;
    color: #fafafa;
    text-indent: 1em;
}

section#about,
section#store {
    overflow: auto;
}

section#store img {
    height: 40%;
    width: 40%;
    float: left;
}

form {
    padding-left: 5%;
    padding-right: 5%;
}

form div#topEmailFormLeft {
    float: left;
    width: 50%;
}

form div#topEmailFormRight {
    float: left;
    width: 50%;
}

form div#EmailFormTop {
    clear: both;
}

form div#EmailFormTop input {
    font-size: 3em;
    height: 53px;
}

form input#EmailFormComment {
    width: 75%;
    height: 165px;
    font-size: 1.4em;
}

.button {
    background-image: linear-gradient(#f59232, #f9c693);
}

.button:hover {
    background-image: linear-gradient(#f9c693, #f59232);
    cursor: pointer;
}

form div#buttons input {
    font-size: 3em;
    width: 20%;
    border: none;
    margin-bottom: 10px;
}