/* This sets the body element with a font family of Tahoma, Geneva, and sans serif, a color of #fff (white), a background of a url from a folder called "Images" and a photo in that folder called "Login.jpg", and a background size of cover */
body {
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url('../Images/Login.jpg');
    background-size: cover;
}

/* This sets the a element with a color of yellow, a text decoration of blink, a font family of Tahoma, Geneva, and sans serif, and a margin left of 35 pixels */
a {
    color: yellow;
    text-decoration: blink;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 35px;
}

/* This sets the di element with a class called reset with a background of #f59232 (orange), a padding of 40 pixels, a width of 240 pixels, a height of 340 pixels, a margin left of 180 pixels, a margin of 0 and auto, and a margin top of 120 pixels  */
div.reset {
    background: #f59232;
    padding: 40px;
    width: 240px;
    height: 340px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
}

/* This sets the heading 2 element with a margin top of 15 pixels and a margin left of 10 pixels */
h2 {
    margin-top: 15px;
    margin-left: 10px;
}

/* This sets the input element with a width of 240 pixels, a background of transparent, a border of none, a border bottom of 1 pixel solid and #fff (white), a font family of Play and sans serif, a font size of 16 pixels, a font weight of 200 pixels, a padding of 10 pixels and 0,a transition of border 0.5 seconds, a text align of center, and the color to white */
input {
    width: 240px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    text-align: center;
    color: white;
}

/* This sets the button element with a type of button with a border of none, a background of the color white, the color black, a font size of 16 pixels, line height of 25 pixels, a padding of 10 pixels and 0, a border radius of 12 pixels, a cursor of pointer, a width of 180 pixels, and a margin left of 30 pixels */
button[type=button] {
    border: none;
    background: white;
    color: black;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 12px;
    cursor: pointer;
    width: 180px;
    margin-left: 30px;
}

/* This sets the button element with a type of "button" with a pseudo class of hover with a background of black and the color white */
button[type=button]:hover {
    background: black;
    color: white;
}

/* Ths sets the input element with a pseudo class of placeholder with the color aliceblue and a opacity of 0.8 */
input::placeholder {
    color: aliceblue;
    opacity: 0.8;
    /* Firefox */
}

/* This sets the div element with a id of msg with a visibility of hidden, a min width of 250 pixels, a background color of #f59232 (orange), the color #000 (black), a text align of center, a border radius of 2 pixels, a padding of 16 pixels, a position of fixed, a z index of 1, a left of 50 percent, a transform of translate X of negative 50 percent, a top of 30 pixels, a font size of 17 pixels, and a margin right of 50 pixels */
div#msg {
    visibility: hidden;
    min-width: 250px;
    background-color: #f59232;
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    font-size: 17px;
    margin-right: 50px;
}

/* This sets the div element with a id of msg and a class of show with a visibility of visible, a webkit animation of fade in 0.5 seconds and a fade out of 0.5 seconds and 2.5 seconds with animation of fade in of 0.5 seconds and a fade out of 0.5 seconds and 2.5 seconds */
div#msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* This sets the at webkit keyframes fade in */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

/* This sets the keyframes of fade in */
@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

/* This sets the at webkit keyframes fade out */
@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

/* This sets the keyframes of fade out */
@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}