/*
       _ _                      
   ___(_) |_ ___    ___ ___ ___ 
  / __| | __/ _ \  / __/ __/ __|
  \__ \ | ||  __/ | (__\__ \__ \
  |___/_|\__\___|  \___|___/___/
                                
 
  CSS that is used across the whole site
  Beach Bar Family, DINEngschrift , Nunito_Sans
*/
/* Imports Fonts */
/* This sets the @import rule of a url from "https://use.typekit.net/dug4pdc.css"  */
@import url("https://use.typekit.net/dug4pdc.css");

/* HTML and Body */
/* This sets the HTML element with a width of 100 percent, min-height of 100 percent, and a background of #e5e5e5  */
html {
    width: 100%;
    min-height: 100vh;
    background: #e5e5e5;
}

/* This sets the body element with a margin of 0 and auto, min height of 100 percent, a width of 90 percent, a box shadow of 0, 0, and 5 pixels, background of #fafafa, a font family of utopia std display and serif, a font weight of 400, and a font style of normal */
body {
    margin: 0 auto;
    min-height: 100%;
    width: 90vw;
    box-shadow: 0 0 5px;
    background: #fafafa;
    font-family: utopia-std-display, serif;
    font-weight: 400;
    font-style: normal;
    overflow: auto;
}

/* NavBar */
/* This sets the nav element with a id of topNavBar with a position of relative, a margin left of negative 50 view width, a margin right of negative 50 view width, min height of 46 pixels, a width of 99.47619 view width, a right of 50 percent, a left of 50 percent, and a background of orange (#f59232)  */
nav#topNavBar {
    position: fixed;
    margin-left: -50vw;
    margin-right: -50vw;
    min-height: 46px;
    /* width: 99.4791vw; */
    width: 100vw;
    right: 50%;
    left: 50%;
    background: #f59232;
    z-index: 100;
}

/* This sets the head, nav and unlisted item elements with a id of topNavBarUl with a position of sticky, a display of flex, a width of 100 percent, a padding of 0, and a width of 0 */
head nav ul#topNavBarUl {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* This sets the listed element with a class of topNavBarItems with a float of left */
li.topNavBarItems {
    float: left;
}

/* This sets the unlisted element with a id of topNavBarUl with li and a elements with a webkit clip path of polygon of ( 75 percent, 0 percent, 100 percent, 50 percent, 75 percent, 100 percent, 0 percent, 100 percent, 25 percent, 50 percent, 0 percent, and 0 percent, with a padding of 14 and 16 pixels, a margin top of 1 pixel, a min width of 80 pixels, a display of block, a clip path of polygon (75 percent, 0 percent, 100 percent, 50 percent, 75 percent, 100 percent, 0 percent, 100 percent, 25 percent, 50 percent, 0 percent,and 0 percent, with a border radius of 1 pixel, a color of black (#262626), a font family of jaf bernina sans condensed and sans serif, a text decoration of none,a text align of center, a font style of normal, a font weight of 700, a webkit border radius of 1 pixel, moz border radius of 1 pixel, a ms border radius of 1 pixel, and finally a o border radius of 1 pixel  */
ul#topNavBarUl li a {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    padding: 14px 16px;
    margin-top: 1px;
    min-width: 80px;
    display: block;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    border-radius: 1px;
    color: #262626;
    font-family: jaf-bernina-sans-condensed, sans-serif;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

/* This sets the unlisted element with id of topNavBarUl, a listed element and a element with a pseudo class of hover with a background color of black (#262626) and a color of white (#fafafa)  */
ul#topNavBarUl li a:hover {
    background-color: #262626;
    color: #fafafa;
}

/* This sets the a element with a class of currentPage with a background color of a dark yellow (#f7d162) */
a.currentPage {
    background-color: #f7d162;
}

div#navSpacer {
    height: 46px;
}

div#footerSpacer {
    height: 26px;
}

div.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: #f59232;
    color: #fafafa;
    text-align: center;
    order: 99;
}