/*
 
   ____  _                   ____  _         _      ____  _               _    
  / ___|| |_ ___  _ __ ___  / ___|| |_ _   _| | ___/ ___|| |__   ___  ___| |_  
  \___ \| __/ _ \| '__/ _ \ \___ \| __| | | | |/ _ \___ \| '_ \ / _ \/ _ \ __| 
   ___) | || (_) | | |  __/  ___) | |_| |_| | |  __/___) | | | |  __/  __/ |_  
  |____/ \__\___/|_|  \___| |____/ \__|\__, |_|\___|____/|_| |_|\___|\___|\__| 
                                       |___/                                   
 
*/
@import 'reset.css';
@import 'site.css';

h1 {
    font-size: 7.7em;
    color: #262626;
}

form#storeItems {
    overflow: auto;
}

form#storeItems div {
    position: relative;
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
    overflow: auto;
}

form#storeItems div h3 {
    font-size: 3em;
    margin: 1px;
    border: 1px solid black;
}

form#storeItems div img {
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    max-width: 600px;
    max-height: 600px;
}

form#storeItems div a {
    position: absolute;
    height: 3em;
    width: 94px;
    top: 2px;
    right: 1px;
    text-align: center;
    line-height: 3em;
}

.button {
    background-image: linear-gradient(#f59232, #f9c693);
}

.button:hover {
    background-image: linear-gradient(#f9c693, #f59232);
    cursor: pointer;
}

form#storeItems div input#itemQty {
    font-size: 3em;
    position: absolute;
    top: 2px;
    right: 396px;
    width: 100px;
    height: 42px;
}

form#storeItems div input#itemEngraving {
    position: absolute;
    top: 2px;
    right: 94px;
    width: 300px;
    font-size: 3em;
    height: 42px;
}

form#storeItems div p {
    font-size: 1.3em;
}

input#submitButton {
    position: relative;
    font-size: 3em;
    width: 20%;
    border: none;
    left: 75%;
    bottom: 0;
    margin-bottom: 10px;
}